:root {
    --body-bg: #eff0f5;
    --body-color: #424242;
    --header-border-color: #cacaca;
    --head-bg: #ffffff;
    --links-color: #252f7b;
    --links-hover: #f95031;
    --table-borders: #eff0f5;
    --table-hover: #ececec;
    --button-save: #28a745;
    --add-to-cart: #007bff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Tahoma, Arial, Sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    border-bottom: 2px solid var(--header-border-color);
}


.nav-item {
    display: flex;
    align-items: center;
}

#nav-left img {
    width: 200px;
}

.nav-item-link {
    margin: 0px 10px;
    text-decoration: none;
    color: #252f7b;
}

.nav-item-link:hover{
    color: var(--links-hover);
}

#nav-right {
    display: flex;
    /* flex-wrap: nowrap; */
}

/* #### MEDIA QUERIES ####  */


@media only screen and (max-width: 1275px) {
    #nav-right {
        flex-wrap: wrap;
    }

    .nav-item {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 660px) {
    #nav-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .nav-item-link {
        text-align: center;
        margin: auto;
        padding: 4px;
    }

    .nav-item {
        margin-bottom: 10px;
    }
}















/* #### FOOTER #### */

#footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 20px;
}

#footer-copyright {
    display: flex;
    align-items: center;
    margin-right: 15%;
    text-align: end;
    padding: 0px 5%;
    /* border: 2px solid red; */
    width: 50%;
}
#footer-soc-med {
    width: 50%;
    display: flex;
    padding: 0px 5%;
    margin-left: 15%;
    justify-content: end;
    /* border: 2px solid red; */
}

#footer-soc-med #wrapper li {
    margin-bottom: 10px;
}

#footer-soc-med ul{
    display: flex;
    flex-wrap: wrap;

}

#footer-soc-med ul li {
    padding-right: 15px;
}

