:root {
    --body-bg: #eff0f5;
    --body-color: #424242;
    --header-border-color: #cacaca;
    --head-bg: #ffffff;
    --links-color: #252f7b;
    --links-hover: #f95031;
    --table-borders: #eff0f5;
    --table-hover: #ececec;
    --button-save: #28a745;
    --add-to-cart: #007bff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Tahoma, Arial, Sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#nav-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    font-size: 20px;
    /* border: 2px solid red; */
}


.nav-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#nav-left img {
    width: 150px;
}

.nav-item-link {
    margin: 0px 10px;
    text-decoration: none;
    color: #252f7b;
}

.nav-item-link:hover{
    color: var(--links-hover);
}

#nav-right {
    display: flex;
    /* flex-wrap: nowrap; */
}


/* #### FOOTER #### */

#footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding: 25px;
}

#footer-copyright {
    display: flex;
    align-items: center;
    width: 50%;
    padding-left: 10%;
}
#footer-soc-med {
    width: 50%;
    display: flex;
    justify-content: end;
    padding-right: 10%;
}

#footer-soc-med #wrapper li {
    margin-bottom: 10px;
}

#footer-soc-med ul{
    display: flex;
    flex-wrap: wrap;

}

#footer-soc-med ul li {
    padding-right: 15px;
}
