* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, Tahoma, Arial, Sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

#nav-wrapper {
    display: flex;
    justify-content: space-between;
    margin: 10px;
    /* border: 2px solid red; */
}

#nav-wrapper * {
    color: #252f7b;
}

.nav-item {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

#nav-left img {
    width: 150px;
}

.nav-item-link {
    margin: 0px 10px;
    text-decoration: none;
}

#nav-right {
    display: flex;
    /* flex-wrap: nowrap; */
}


/* #### FOOTER #### */

#footer-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    /* border: 2px solid red; */
    padding: 20px;
}



#footer-copyright {
    display: flex;
    align-items: center;
    width: 50%;
    /* border: 2px solid green; */
    padding-left: 10%;
}
#footer-soc-med {
    width: 50%;
    display: flex;
    justify-content: end;
    /* border: 2px solid green; */
    padding-right: 10%;
}

#footer-soc-med ul{
    display: flex;
    flex-wrap: wrap;
    /* justify-content: end; */
}

#footer-soc-med ul li {
    padding-right: 15px;
}
