:root {
    --body-bg: #eff0f5;
    --body-color: #424242;
    --header-border-color: #cacaca;
    --head-bg: #ffffff;
    --links-color: #252f7b;
    --links-hover: #f95031;
    --table-borders: #eff0f5;
    --table-hover: #ececec;
    --button-save: #28a745;
    --add-to-cart: #007bff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#main-container {
    background-color: var(--body-bg);
    padding: 50px;
    height: 80%;
}

#main-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.body-product-container-item {
    width: 300px;
    height: 320px;
    margin: 10px;
}

.body-product-wrap {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding: 30px 0px;
    flex-wrap: wrap;
    margin-bottom: 250px;
}

.body-product-text a{
    display: flex;
    flex-direction: column;
    padding: 5px 0px;
    color: black;
}

.body-product-img{
    width: 100%;
    height: 85%;
}

.body-product-img a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* ##### PRODUCT PAGE ####  */

#prod-container {
    padding: 50px;
    background-color: var(--body-bg);
}

#prod-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-bottom: 50px;
}

#prod-heading {
    margin: 25px;
}

.prod-item {
    margin: 4px;
}

#prod-img {
    width: 300px;
    height: 300px;
}

#prod-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item-box {
    padding: 4px;
}

#prod-pricing-btn {
    border-color: var(--add-to-cart);
    border-style: none;
    border-radius: 4px;
    background-color: var(--add-to-cart);
    color: white;
    padding: 6px 15px;
}

#prod-desc {
    padding: 0px 20px 20px 20px;
}

/* #### MANAGE ACCOUNT PAGE #### */

#table-container {
    padding: 50px;
    background-color: var(--body-bg);
    
}

#table-wrapper {
    margin-bottom: 11rem;
}

#table-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

#edit-acc-link {
    text-align: end;
    color: var(--links-color);
}

#table-content-wrapper {
    background-color: var(--head-bg);
    padding: 20px;

}

#table-account {
    border-collapse: collapse;
    padding: 10px;
    width: 100%;
}

tr, td{
    padding: 8px;
}

.table-col1 {
    width: 30%;
}

.table-rows:hover{
    background-color: var(--table-hover);
}


/* #### EDIT ACCOUNT PAGE ####  */
#table-acc-edit-container {
    padding: 50px;
    background-color: var(--body-bg);
}

#table-acc-edit-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

#table-acc-edit-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 10%;
    background: var(--head-bg);
}

#main-table {
    width: 100%;
    border-collapse: collapse;
}

.main-table-rows:hover {
    background-color: var(--table-hover);
}

.main-table-col1 {
    width: 40%;
}

.main-table-col2 {
    width: 55%;
}
#main-table .main-table-inp-box {
    width: 100%;
    padding: 4px 10px;
}

#main-table-btn {
    color: var(--head-bg);
    background-color: var(--button-save);
    border-radius: 5px;
    border: none;
    padding: 10px 30px;
}

#main-btn {
    display: flex;
    justify-content: center;
    padding: 5px 0px;
}

/* #### CART #### */

#main-cart-container {
    padding: 50px;
    background-color: var(--body-bg);
}

#main-cart-container h1{
    text-align: center;
    margin-bottom: 20px;
}

.main-cart-table-wrapper {
    /* border: 2px solid red; */
    padding: 20px;
    background-color: var(--head-bg);
    margin-bottom: 10%;
}

.main-cart-table {
    width: 100%;
    border-collapse: collapse;
}

.cart-table-rows, th{
    border-bottom: 2px solid var(--table-borders);
}
.cart-table-rows:hover {
    background-color: var(--table-hover);
}

.cart-bold-text {
    font-weight: bold;
}

td a {
    color: var(--links-color);
}
td a:hover {
    color: var(--links-hover);
}

@media only screen and (max-width: 1275px) {
    tr .cart-placed-on {
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}

@media only screen and (max-width: 780px) {
    tr .cart-placed-on {
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}

@media only screen and (max-width: 700px) {
    tr .cart-order-id {
        display:none;
        width:0;
        height:0;
        opacity:0;
        visibility: collapse;
    }
}







